<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyd.bikeManger.ColumnMapper">
  <resultMap id="BaseResultMap" type="com.lyd.bikeEntity.Column">
    <id column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_firstId" jdbcType="INTEGER" property="columnFirstid" />
    <result column="column_url" jdbcType="VARCHAR" property="columnUrl" />
    <result column="column_permissionId" jdbcType="INTEGER" property="columnPermissionid" />
  </resultMap>
  <sql id="Base_Column_List">
    column_id, column_name, column_firstId, column_url, column_permissionId
  </sql>
  <!-- 得到菜单 -->
  <select id="getColumnLimite"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_column
    where column_id =#{columnId}
  </select>
  
  <!-- 得到父子级对应 -->
  <select id="getChildColumn"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_column
    where column_permissionId =#{columnPermissionid}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_column
    where column_id = #{columnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_column
    where column_id = #{columnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lyd.bikeEntity.Column">
    insert into t_column (column_id, column_name, column_firstId, 
      column_url, column_permissionId)
    values (#{columnId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, #{columnFirstid,jdbcType=INTEGER}, 
      #{columnUrl,jdbcType=VARCHAR}, #{columnPermissionid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lyd.bikeEntity.Column">
    insert into t_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        column_id,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="columnFirstid != null">
        column_firstId,
      </if>
      <if test="columnUrl != null">
        column_url,
      </if>
      <if test="columnPermissionid != null">
        column_permissionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnFirstid != null">
        #{columnFirstid,jdbcType=INTEGER},
      </if>
      <if test="columnUrl != null">
        #{columnUrl,jdbcType=VARCHAR},
      </if>
      <if test="columnPermissionid != null">
        #{columnPermissionid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyd.bikeEntity.Column">
    update t_column
    <set>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnFirstid != null">
        column_firstId = #{columnFirstid,jdbcType=INTEGER},
      </if>
      <if test="columnUrl != null">
        column_url = #{columnUrl,jdbcType=VARCHAR},
      </if>
      <if test="columnPermissionid != null">
        column_permissionId = #{columnPermissionid,jdbcType=INTEGER},
      </if>
    </set>
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyd.bikeEntity.Column">
    update t_column
    set column_name = #{columnName,jdbcType=VARCHAR},
      column_firstId = #{columnFirstid,jdbcType=INTEGER},
      column_url = #{columnUrl,jdbcType=VARCHAR},
      column_permissionId = #{columnPermissionid,jdbcType=INTEGER}
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
</mapper>